/* use import to import fonts from the web - ex. google fonts */
/* source: https://fonts.google.com/specimen/Lato#standard-styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap");

/* use font-face to link downloaded font */
@font-face {
  /* font-family name does not need to be the same as filename */
  font-family: norse-bold;
  src: url("fonts/Norse-Bold.otf");
}

* {
  /* minimalistic CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline for easier arrangement */
  /* outline: 1px solid red; */
}

/* it is considered good practice to put box-sizing: inherit on universal selector * */
/* and to put box-sizing: border-box in html */
/* this way when you import sth like an image with the header that has a box-sizing: content-box; the header that was dependent on it will also have content-box */
html {
  box-sizing: border-box;
}

:root {
  /* custom properties */
  --buttons-color: #596d48;
  --hover-buttons: #415034;
  --border-color: #e5e7eb;
  --border-required-color: #999;
  --background-color: #f9fafb;
  --shadow-color: #bbb;
  --shadow-specs: 5px 5px 5px var(--shadow-color);

  /* rem = 10 px */
  font-size: 62.5%;
  /* 10/16 where 16 is default rem size */
}

body {
  /* so default font size is still 16 */
  font-size: 1.6rem;
  font-family: "Lato", serif;
}

div.content {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* left side */

div.background {
  background-image: url("images/background-halie-west.jpg");
  background-size: cover;
  /* fallback value */
  background-color: #596d48;
  flex: 2;
}

div.background div.logo {
  margin-top: 20%;
  width: auto;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logo img {
  height: 10rem;
}

div.logo p {
  /* serif is a fallback */
  font-family: "norse-bold", serif;
  font-size: 500%;
  color: white;
}

/* right side */

div.right {
  padding-top: 60px;
  background-color: var(--background-color);
  flex: 3;
}

div.intro-text p {
  padding: 30px;
  font-size: 3rem;
  font-weight: 500;
}

div.right button {
  display: block;

  color: #fff;
  background-color: var(--buttons-color);

  border: none;
  border-radius: 10px;
  margin: 30px;
  padding: 10px 40px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: var(--shadow-specs);
  font-weight: 700;
}

div.right button:hover {
  background-color: var(--hover-buttons);
  cursor: pointer;
}

div.right button:active {
  outline: 2px solid var(--border-color);
}

div.right a {
  color: #596d48;
  text-decoration: none;
  font-weight: 600;
}

div.right p {
  margin-left: 30px;
}

/* FORM STYLING */

/* form layout */

div.right .form-container {
  background-color: #fff;
  padding: 30px;
  border: none;
  box-shadow: var(--shadow-specs);

}

.form-container div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-container p {
  font-size: 2rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-flow: row wrap;
  margin-right: 30%;
  gap: 30px;
  padding: 30px;
}

/* input */

input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 3rem;
}

input:required {
  border: 1px solid var(--border-required-color);
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 2px var(--shadow-color);
}

/* shows if invalid only on focus */
input:invalid:focus {
  outline: none;
  border: 1px solid red;
}

/* label */
